<app-main-nav class="block container mx-auto px-5"></app-main-nav>

<main>
    <router-outlet></router-outlet>
</main>

<div class="block container mx-auto px-5">
    <article className="mb-32">
        <h1
            className="text-5xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left">
            Title
        </h1>
        <div className="max-w-2xl">
            <div className="mb-6 text-lg">
                DATE 234 234 234 23 4
            </div>
        </div>
        <div className="max-w-2xl">
            
        </div>
    </article>
</div>

<app-footer></app-footer>